.cart {
  width: 100%;

  .product-remove {
    box-sizing: border-box;
    padding: 0 2% 0 0;
  }

  .product-thumbnail, .product-name, .product-price, .product-quantity {
    box-sizing: border-box;
    padding: 0 2%;
  }

  .product-subtotal {
    box-sizing: border-box;
    padding: 0 0 0 2%;
  }

  .product-remove {
    width: 3%;
  }

  .product-thumbnail {
    width: 20%;
    @include respond-to(b-995) {
      width: 23%;
    }
  }

  .product-name {
    width: 33%;
    @include respond-to(b-995) {
      width: 74%;
    }
  }

  .variation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    dt {
      width: 20%;
      margin: 0 2% 0 0;
      font-size: 0.75rem;
      line-height: 1.2rem;
      font-weight: 400;
    }

    dd {
      width: 78%;
      margin: 0;
    }

    p {
      padding: 0 0 0 0;
      margin: 0;
      font-size: 0.75rem;
      line-height: 1.2rem;
      font-weight: 400;
    }

  } // .variation

  .product-price {
    width: 15%;
  }

  .product-quantity {
    width: 15%;

    .quantity input {
      width: 60%;
    }

  } // .product-quantity

  .product-subtotal {
    width: 14%;
  }

  th {
    text-align: left;
  }

  tr {
    width: 100%;
  }

  .cart_item {
    //display: flex;
    //justify-content: flex-end;
    width: 100%;
/*
    @include respond-to(b-995) {
      flex-wrap: wrap;
    }
*/
  }

  .actions {
    width: 100%;

    input {
      float: right;
      margin-right: 0;
      margin-left: 10px;
    }

  } // .actions

  .cart-collaterals {
    width: 100%;

    th {
      display: block;
      margin-right: 10px;
    }

    .shipping {
      width: 100%;
    }

    .wc-proceed-to-checkout {
      margin-top: 20px;
    }

  } // .cart-collaterals

} // .cart

.woocommerce-cart {

  aside {
    display: none;
  }

} // .woocommerce-cart
