.home {

	.slider {
		width: 100%;
		height: 512px;

		.slide {
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			width: 100%;
			height: 512px;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}

		.row {
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;
			margin-bottom: 40px;
		}

		.text p {
			color: $white;
			font-size: 24px;
			line-height: 30px;
		}

		a {
			font-size: 24px;
		}

	} // .slider

} // .home
