// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
	box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
	box-sizing: inherit;
} 

body {
	background-color: $dark;
}

/*
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
*/

// our "grid system"
.wrapper {
	@extend %clearfix;
	width: 100%;
	min-height: 100%;
	position: relative;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

#canvas {
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-transform: translateX(0);
	transform: translateX(0);
// 	background: #000;
}

.page-wrap {
	@extend %clearfix;
	width: 100%;
}

 .row {
	display: flex;
	flex: 0 1 auto;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1020px;
	padding-right: 10px;
	padding-left: 10px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	@include respond-to(row) {
		padding-right: 20px;
		padding-left: 20px;
	}
}

// basic page styling
a {
	color: $white;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: $hover;
	}
}

.page-content {
	flex: 0 1 100%;
}

ul {
	color: $color;
	list-style-position: inside;
	list-style-image: url('../images/ui/bullet.png');

	li {
		color: $color;
		background: url('../images/ui/bullet.png') no-repeat left 17px;
		padding: 3px 0px 3px 16px;
		text-indent: 0;
		list-style: none;
		margin: 0;
	}

} // ul

ol {
	color: $color;
	list-style-position: inside;
	list-style-type: decimal;

	li {
		color: $color;
		padding-left: 18px;
		text-indent: -18px;
	}

} // ol

.button {
	padding: 9px;
	margin-top: 0;
	color: $white;
	background-color: $light;
	border-radius: 3px;
	border: 1px solid $light;
	&:hover {
		background-color: $hover;
	}
}
